<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	   <h1 align = "center">Student Track</h1>
        <form action = "add" method = "GET">
            Name: <input type = "text" name = "studentName"/><br/>
            Password: <input type = "number" name = "studentId"/><br/>
            Course List (1): <input type = "text" name = "courseList1"/><br/>
            Course List (2): <input type = "text" name = "courseList2"/><br/>
            Course List (3): <input type = "text" name = "courseList3"/><br/>
            Course List (4): <input type = "text" name = "courseList4"/><br/>
            Course List (5): <input type = "text" name = "courseList5"/><br/>
            Course List (6): <input type = "text" name = "courseList6"/><br/>
            <br/><br/>

            <center>
                <input type ="SUBMIT" />
            </center>
        </form>
        <form action = "show" method = "GET">
        	 <input type ="SUBMIT" />
        </form>
</body>
</html>