<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>MoAr Drinks!</title>
</head>
<body>
	<h2>MoAr Drinks!</h2>
	
	<form method = "GET" action = "Drinks">
		Name: <input type = "text" name = "drinkName" /> <br><br>
		
		Main: <input type = "text" name = "drinkMain"/> <br>
		Amount: <input type = "number" name = "drinkMainAmount"/> <br><br>
		
		Second: <input type = "text" name = "drinkSecond"/> <br>
		Amount: <input type = "number" name = "drinkSecondAmount"/> <br><br>
		
		Directions: <input type = "text" name = "drinkDirections"/> <br><br>
		
		<button type = "submit">Submit</button>
	</form>
</body>
</html>